#light {
  background-color: bisque;
  color: black;
}

#dark {
  background-color: black;
  color: azure;
}

#light.switch {
  background: rgba(128, 128, 128, 0.684);
}

#dark.switch {
  background: rgb(93, 92, 92);
}

.app_main {
  display: flex;
  justify-content: flex-end;

}
.switch {
  margin-left: auto;
}


