#light {
  color: rgba(0, 0, 0, 0.914) !important;
}

#dark {
  color: rgba(240, 255, 255, 0.922) !important;
}

#light .switch {
  background: rgba(128, 128, 128, 0.684);
}

#dark .switch {
  background: rgb(208, 206, 206);
}

.switch {
  font-family: "Montserrat";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5vw;
  margin-right: 0.6vw;
  display: flex;
  flex-direction: row;
  width: 50px;
}

.app_main {
  position: relative;
}

.ant-checkbox-wrapper {
  font-size: 50px !important;
}

.skeleton {
  position: absolute;
  top: 10%;
  right: 20%;
  margin-top: 0.5vw;
  margin-right: 0.6vw;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.icon_switch {
  width: 19px;
  height: 19px;
  margin-right: 6px;
}
