#light {
  color: rgba(0, 0, 0, 0.914) !important;
}

#dark {
  color: rgba(240, 255, 255, 0.922) !important;
}

#light .switch {
  background: rgba(128, 128, 128, 0.684);
}

#dark .switch {
  background: rgb(208, 206, 206);
}

.switch {
  font-family: "Montserrat";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5vw;
  margin-right: 0.6vw;
  display: flex;
  flex-direction: row;
  width: 50px;
}

.app_main {
  position: relative;
}

.ant-checkbox-wrapper {
  font-size: 50px !important;
}

.skeleton {
  position: absolute;
  top: 10%;
  right: 20%;
  margin-top: 0.5vw;
  margin-right: 0.6vw;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.icon_switch {
  width: 19px;
  height: 19px;
  margin-right: 6px;
}

.icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 2%;
  right: 1%;
}

.icon_chat,
.icon_help {
  width: 50px;
  height: 50px;
  position: relative;
}

.text_chat {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 45%;
  transform: translateX(-45%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 80px;
  text-align: center;
}

.text_help {
  display: none;
  position: absolute;
  bottom: 8px;
  right: 45%;
  transform: translateX(-45%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 80px;
  text-align: center;
}

.div_chat:hover .text_chat,
.div_help:hover .text_help {
  display: block;
}

.icon_chat:hover,
.icon_help:hover {
  scale: 1.1;
}
