.middle_block_search {
  display: flex;
  flex-direction: column;
}

.middle_main_block_search {
  display: flex;
  margin-bottom: 1vw;
}

.middle_text_block {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 2vw;
  margin-bottom: 1vw;
}

.input_first_country {
  font-family: "Montserrat", sans-serif;
  width: 16vw;
  height: 7.5vh;
  border-radius: 10px 0px 0px 10px;
  margin-right: 0.25vw;
  padding-top: 20px;
}

.middle_person {
  width: 11vw;
  height: 7.5vh;
  border-radius: 0px 10px 10px 0px;
  margin-right: 0.25vw;
  padding-top: 20px;
}

.input_second_country {
  font-family: "Montserrat", sans-serif;
  width: 16vw;
  height: 7.5vh;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0.25vw;
  padding-top: 20px;
}

.first_date {
  width: 10.5vw;
  height: 7.5vh;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0.25vw;
  padding-top: 20px;
}

.second_date {
  width: 10.5vw;
  height: 7.5vh;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0.25vw;
  padding-top: 20px;
}

.persons_value {
  width: 11vw;
  height: 7.25vh;
  border-radius: 0px 10px 10px 0px;
  margin-right: 0.25vw;
  background-color: white;
  padding-top: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  transition: all 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.persons_value:hover {
  border-style: solid;
  border-color: #65b77c;
  transition: all 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.middle_input_person {
  display: flex;
  margin-right: 1vw;
}

.persons_value {
  display: flex;
  justify-content: center;
}

.btn_search_trips {
  max-width: 5vw;
  height: 7.5vh;
  border-radius: 10px;
  background-color: rgb(61, 61, 254);
  box-shadow: none;
  border-width: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn_search_trips:hover {
  background-color: rgba(61, 61, 254, 0.737) !important;
}

.middle_checkbox_block {
  margin-bottom: 0.5vw;
}

.checkbox_style {
  font-weight: 500;
}

.light_checkbox {
  color: black;
  font-family: "Montserrat", sans-serif;
}

.dark_checkbox {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.span_first_country {
  position: absolute;
  z-index: 1;
  margin-left: 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6vw;
  font-family: "Montserrat", sans-serif;
}

.middle_input_first_country {
  display: flex;
}

.span_second_country {
  position: absolute;
  z-index: 1;
  margin-left: 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6vw;
  font-family: "Montserrat", sans-serif;
}

.middle_input_second_country {
  display: flex;
}

.span_first_date {
  position: absolute;
  z-index: 1;
  margin-left: 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6vw;
  font-family: "Montserrat", sans-serif;
}

.span_second_date {
  position: absolute;
  z-index: 1;
  margin-left: 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6vw;
  font-family: "Montserrat", sans-serif;
}

.middle_input_first_date {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.middle_input_second_date {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.span_input_person {
  font-family: "Montserrat", sans-serif;
  max-width: 9.5vw;
  position: absolute;
  z-index: 1;
  margin-left: 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle_input_person {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.ant_modal {
  max-width: 20vw;
  position: absolute !important;
  top: 31%;
  left: 63% !important;
  z-index: 9999 !important;
  font-family: "Montserrat", sans-serif;
}

.modal_content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.modal_row_travellers {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.modal_label {
  margin-right: 16px;
  font-weight: bold;
  width: 65px;
}

.modal_label_age {
  margin-left: 24px;
}

.modal_disclaimer {
  margin-top: 16px;
  font-size: 12px;
  color: #777;
  line-height: 1.2;
}

.modal_title {
  font-size: 18px !important;
  font-weight: bold;
  color: #333;
  font-family: "Montserrat" !important;
}
.modal_row_checkboxes {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.input_number {
  margin-left: 8px;
  width: 60px;
  padding: 4px 8px;
  border-radius: 4px;
  border-color: #d9d9d9;
  font-size: 14px;
}

.modal_travellers_button {
  display: inline-block;
  min-height: 36px;
  margin-top: 25px;
  width: 100%;
  background-color: #05203c;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: none;
}

.modal_travellers_button:hover {
  background-color: #05478d !important;
}
