.middle_block_search {
  display: flex;
  flex-direction: column;
}

.middle_main_block_search {
  display: flex;
  margin-bottom: 1vw;
}

.middle_text_block {
  display: flex;
  font-size: 2vw;
  margin-bottom: 1vw;
}

.input_first_country {
  width: 16vw;
  height: 7.5vh;
  border-radius: 10px 0px 0px 10px;
  margin-right: 0.25vw;
}

.input_second_country {
  width: 16vw;
  height: 7.5vh;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0.25vw;
}

.first_date {
  width: 10.5vw;
  height: 7.5vh;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0.25vw;
}

.second_date {
  width: 10.5vw;
  height: 7.5vh;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0.25vw;
}

.persons_value {
  width: 11vw;
  height: 7.25vh;
  border-radius: 0px 10px 10px 0px;
  margin-right: 0.25vw;
  background-color: white;

  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  transition: all 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.persons_value:hover {
  border-style: solid;
  border-color: #65b77c;
  transition: all 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.middle_input_person {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.persons_value {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn_search_trips {
  width: 5vw;
  height: 7.5vh;
  border-radius: 10px;
  background-color: rgb(61, 61, 254);
  box-shadow: none;
  border-color: gray;
  border-width: 0.5px;
}

.btn_search_trips:hover {
  background-color: rgba(61, 61, 254, 0.737) !important;
}

.middle_checkbox_block {
  margin-bottom: 0.5vw;
}

.checkbox_style {
  font-weight: 500;
}

#light.checkbox_antd {
  font-size: 5vw !important;
  color: black !important;
}

#dark.checkbox_antd {
  font-size: 2vw !important;
  color: white !important;
  background-color: green;
}
